<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="fr">
   <head>
       <meta charset="utf-8">
       <title>{% block title %}ElCambur - Mot de passe oublié{% endblock %}</title>
   </head>
   <body> {% block content %}
       <div class="pswld" style="width:50%;">
            <h2>Mot de passe oublié</h2>
            <p>Nous vous avons envoyé le lien de réinitialisation du mot de passe sur votre e-mail. Veuillez vérifier vos e-mails.</p>
	   </div>
   </body> {% endblock %}
</html>