<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="fr">
   <head>
       <meta charset="utf-8">
       <title>{% block title %}ElCambur - Mot de passe oublié{% endblock %}</title>
   </head>
   <body> {% block content %}
       <div class="pswld" style="width:50%;">
            <h2>Mot de passe oublié</h2>
			<h3>Vore mot de passe a été changé</h3>
            <p>Cliquez sur ce lien pour <a href="{% url 'login' %}">se connecter</a></p>  
	   </div>
   </body> {% endblock %}
</html>