<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="fr">
  <head>
    <meta charset="utf-8">
    {% block title %}ElCambur - l'information sans blague {% endblock %}
  </head>
  <body> {% block content %}
        <div class="main-left">
            <div class="main-post"> 
                <p>ElCambur est né de l'absurdité de la politique française, nous avons tous assistés aux decisions absurte et même incoprehensible
				des politiques pour faire fasse à la pandemie</p>
				<p>ElCambur est un site purement satirique, tout article redigé par la rédaction est faux</p>
            </div>
		</div>
   </body> {% endblock %}
</html>
