<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="fr">
  <head>
    <meta charset="utf-8">
    {% block title %}ElCambur - l'information sans blague {% endblock %}
  </head>
  <body> {% block content %}
        <div class="main-left">
            <div class="main-post"> {% for Post in posts|slice:":1" %}
                <h2 class="main-title"><a href="{{ Post.get_absolute_url }}">{{ Post.title }}</a></h2>
                <p class="main-date">Publié le {{ Post.publishedDate }} par {{ Post.author.firstName }}</p>
				{% if author %}
		           {{ post.author.lastName }}
		        {% else %}
                   {{ post.author.lastName|default:"" }}</p>
                {% endif %}
                <a href=""><img src="{{ Post.image.url }}" alt="" style="height:350px;width:100%;"></a>
                <p class="main-post-description">{{ Post.summary }}</p>{% endfor %}
            </div>
            <hr style="width:100%;text-align:left;margin-left:0">
            <div class="main-list-category">
                <div class="main-list-column-left">{% for Post in posts|slice:"1:2" %}
                    <a href="{{ Post.get_absolute_url }}"><img src="{{ Post.image.url }}" alt="" style="width:100%;height:140px;"></a>
                    <h3 class="main-list-column-title"><a href="{{ Post.get_absolute_url }}">{{ Post.title }}</a></h3>{% endfor %}
                </div>
				<div class="main-list-column-left">{% for Post in posts|slice:"2:3" %}
                    <a href="{{ Post.get_absolute_url }}"><img src="{{ Post.image.url }}" alt="" style="width:100%;height:140px;"></a>
                    <h3 class="main-list-column-title"><a href="{{ Post.get_absolute_url }}">{{ Post.title }}</a></h3>{% endfor %}
                </div>
				<div class="main-list-column-left">{% for Post in posts|slice:"3:4" %}
                    <a href="{{ Post.get_absolute_url }}"><img src="{{ Post.image.url }}" alt="" style="width:100%;height:140px;"></a>
                    <h3 class="main-list-column-title"><a href="{{ Post.get_absolute_url }}">{{ Post.title }}</a></h3>{% endfor %}
                </div>
           </div>
		</div>
        <div class="main-mid-sidebar">
            <div class="main-mid-post">
				 {% for Post in posts|slice:"4:6" %}
                <a href="{{ Post.get_absolute_url }}"><img src="{{ Post.image.url }}" alt="" style="width:100%;height:240px;"></a>
                <h3><a href="{{ Post.get_absolute_url }}">{{ Post.title }}</a></h3>
                <p>{{ Post.summary }}</p> {% endfor %}
           </div>
		</div>
	    <div class="main-right-sidebar"> 
		   <h4 class="lstpost">Articles récents</h4>
	       <div class="main-right-post"> {% for Post in posts|slice:":4" %}
		   		<p style="font-size:11px;"><strong><a href="">{{ Post.category.name|capfirst }}</strong></a> / Il y a {{ Post.publishedDate|timesince }}</p>
                <p><a href="{{ Post.get_absolute_url }}">{{ Post.title }}</a></p>{% endfor %}
           </div>
		   <h4 class="lstpost">Commentaires récents</h4>
		   <div class="main-right-post"> 
		        {% if last_comments %}
				    {% for comment in last_comments|slice:":4" %}
                        <p style="font-size:12px;"><strong>{{ comment.user.username }}</strong> / Il y a {{ comment.createdDate|timesince }}</p>
						<p style="font-size:12px;">{{ comment.post }}</p>
				        <p style="font-size:10px;">  {{ comment.content }}</p>
				   {% endfor %}
			   {% else %}
			        {% if not user.is_authenticated %}
                        <p style="font-size:12px;">Soyez le premier à commenter un article,
					    <a href="{% url 'signup' %}"><strong>créer mon compte</strong></a>
				    {% endif %}
			   {% endif %}
           </div>
	   </div>
	   <hr style="width:100%;text-align:left;margin-left:0">
       <div class="main-cat"> 
	       <div class="main-cat-post-title">
			    {% for Category in categories|slice:":1" %}
                    <h2><a href="{{ Category.get_absolute_url }}">Economie</a></h2>
           	    {% endfor %}
		   </div>
	       <div class="main-cat-post"> {% for Post in special_posts|slice:":1" %}
				<a href="{{ Post.get_absolute_url }}"><img src="{{ Post.image.url }}" alt="" style="height:250px;width:100%;"></a>
                <h4><a href="{{ Post.get_absolute_url }}">{{ Post.title }}</a></h4>{% endfor %}
			</div>	
			<div class="main-cat-post"> {% for Post in special_posts|slice:"1:2" %}
				<a href="{{ Post.get_absolute_url }}"><img src="{{ Post.image.url }}" alt="" style="height:250px;width:100%;"></a>
                <h4><a href="{{ Post.get_absolute_url }}">{{ Post.title }}</a></h4>{% endfor %}
			</div>
			<div class="main-cat-post"> {% for Post in special_posts|slice:"2:3" %}
				<a href="{{ Post.get_absolute_url }}"><img src="{{ Post.image.url }}" alt="" style="height:250px;width:100%;"></a>
                <h4><a href="{{ Post.get_absolute_url }}">{{ Post.title }}</a></h4>{% endfor %}
			</div>
			<br><hr style="width:100%;text-align:left;margin-left:0">
			<div style="margin-top:20px;" class="main-cat-post-title">
			    {% for Category in categories|slice:":1" %}
                    <h2><a href="{{ Category.get_absolute_url }}">Plus d'actualité</a></h2>
           	    {% endfor %}
		   </div>
	       <div class="main-cat-post"> {% for Post in posts|slice:":1" %}
				<a href="{{ Post.get_absolute_url }}"><img src="{{ Post.image.url }}" alt="" style="height:250px;width:100%;"></a>
                <h4><a href="{{ Post.get_absolute_url }}">{{ Post.title }}</a></h4>{% endfor %}
			</div>	
			<div class="main-cat-post"> {% for Post in posts|slice:"1:2" %}
				<a href="{{ Post.get_absolute_url }}"><img src="{{ Post.image.url }}" alt="" style="height:250px;width:100%;"></a>
                <h4><a href="{{ Post.get_absolute_url }}">{{ Post.title }}</a></h4>{% endfor %}
			</div>
			<div class="main-cat-post"> {% for Post in posts|slice:"2:3" %}
				<a href="{{ Post.get_absolute_url }}"><img src="{{ Post.image.url }}" alt="" style="height:250px;width:100%;"></a>
                <h4><a href="{{ Post.get_absolute_url }}">{{ Post.title }}</a></h4>{% endfor %}
				{% for tag in post.tags.all %}
                                        <a href="{% url 'tagged' tag.slug %}">ii{{ tag }}</a>
                {% endfor %}
				{% for mt in common_tags %}
                <a href="#">{{mt}}</a>
                {% endfor %}
				{% for tag in post.tags.all %}
                       <a href="">{{ tag.name }}</a>
                   {% endfor %}
			</div>
			
	   </div>
   </body> {% endblock %}
</html>
